.top_bar_landing_page_container {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 10%;
}

#v {
  color: rgb(255, 102, 0);
  font-size: 30px;
}

#app-logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(82, 82, 232);
}

#logo-area {
  margin-left: 2%;
}

#top-right-buttons-area {
  display: flex;
}

#profile-btn {
  border : 2px solid rgb(82, 82, 232);
  color: rgb(255, 255, 255);
  background-color: rgb(82, 82, 232);
  margin-right: 20px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
}

#profile-btn:hover {
  border : 1px solid rgb(255, 255, 255);
}