.hasNewMatches{
  background-color: rgb(233, 64, 64);
  height: 30px;
  width: 80px;
  border: none;
  color: white;
  margin-right: 2%;
}



.noNewMatches {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 80px;
  border: 2px solid rgb(82, 82, 232);
  color: rgb(82, 82, 232);
  margin-right: 20px;
  cursor: pointer;
}

.noNewMatches:hover{
  border : 2px solid rgb(219, 135, 26);
  color: rgb(219, 135, 26);
}
 