#login-btn {
    border-radius : 2px;
    color: white;
    background-color: rgb(82, 82, 232);
    border: none;
    height: 30px;
    margin-left: 15%;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
}

#login-btn:hover {
    border: 1px solid white;
}

#logout-btn {
    background-color: rgb(247, 80, 51);
    height: 30px;
    width: 80px;
    border: none;
    color: white;
    border-radius: 16px;
    margin-left: 20px;
    cursor: pointer;
}

