#modal-main {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  #modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    background: white;
    width: 40%;
    height: 70%;
    top: 50%;
    left: 50%;
    padding-top: 5%;
    transform: translate(-50%,-50%);
  }


  #close-modal{
    padding: 5%;
    color: grey;
    font-size: 12px;
    text-decoration: underline;
  }

 #welcome-title {
   font-size: 28px;
   line-height: 3;
 }

 #welcome-subtitle {
   margin-left: 10%;
   margin-right: 10%;
   text-align: center;
 }

#inputUserEmail {
  margin-top: 5%;
  margin-bottom: 1%;
  padding-left: 1%;
  width: 33%;
  border: none;
  border-bottom: 1px solid grey;
  height: 30px;
}

#inputUserEmail:hover {
  background-color: rgb(250, 250, 250);
}

#inputUserPassword {
  margin-bottom: 5%;
  padding-left: 1%;
  width: 33%;
  border: 1px solid grey;
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
}

#inputUserPassword:hover {
  background-color: rgb(250, 250, 250);
}

#lock-img {
  height: 20px;
}

#submitSignUp {
  margin-bottom: 9%;
  padding-left: 1%;
  width: 34%;
  border: 1px solid grey;
  height: 34px;
  background-color: rgb(56, 56, 56);
  color: rgb(235, 235, 235);
  border-radius: 16px;
  cursor: pointer;
}

#submitSignUp:hover {
  background-color: rgb(72, 72, 72);
}