#modal-main {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  #modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    background: white;
    width: 50%;
    height: 70%;
    top:50%;
    left:50%;
    padding-top: 7%;
    transform: translate(-50%,-50%);
  }


  #close-modal{
    padding: 5%;
    color: grey;
    font-size: 12px;
    text-decoration: underline;
  }

 #welcome-title {
   font-size: 28px;
   line-height: 3;
   color: rgb(83, 83, 83);
 }

 #welcome-subtitle {
    margin-bottom: 5%;
 }

.registration-input {
  margin-bottom: 2%;
  padding-left: 1%;
  width: 33%;
  border: none;
  border-bottom: 1px solid grey;
  height: 30px;
}

.registration-input:hover {
  background-color: rgb(250, 250, 250);
}

#registration-last-item {
  margin-bottom: 5%;
}

#submitSignUp {
  margin-bottom: 2%;
  padding-left: 1%;
  width: 31%;
  border: 1px solid grey;
  height: 34px;
  background-color: rgb(82, 82, 232);
  color: rgb(235, 235, 235);
  border-radius: 40px;
  cursor: pointer;
}

#submitSignUp:hover {
  background-color: rgb(82, 82, 232);
  transform: scale(0.95);
}